@charset "ISO-8859-1";

.descritpionDetialsMainDiv {
	display: flex;
}

.blogTopNavbar {
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.blogDetails {
	text-align: justify;
	margin-right: 1%;
}

.descriptionDetails {
	font-family: emoji;
	border-radius: 10px;
	padding: 1%;
	margin-top: 10px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.blogBtnDiv {
	margin: 10px 10px;
}

.blogButtonsDiv,
.blogDetailsDiv {
	padding-top: 70px;
}

.btnBlog {
	font-size: 20px;
}

.detailsTitle {
	padding: 5px;
	border-radius: 5px;
}

.btnBlog:hover,
.detailsTitle:hover,
#reportBtn:hover,
#feedbackBtn:hover,
.nav-link:hover {
	box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
	background-color: #add8e645;
}

.topics {
	display: flex;
	gap: 40px;
	margin-bottom: 10px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.topicSg {
	width: 250px;
	height: 250px;
	border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.topicHeader {
	padding: 10px;
	border-top-left-radius: 10px;
	height: 130px;
	border-top-right-radius: 10px;
	background-color: lightgray;
}

.topicDesc {
	padding: 10px;
}

.feedbackAndReportDiv {
	position: absolute;
	top: 381px;
	left: 5px;
	background: white;
	border-radius: 10px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.feedbackandreportUIDiv {
	top: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(6px);

}

.feedbackandreportUIDivInnerDiv {
	background-color: white;
	width: 60rem;
	height: 33rem;
	border-radius: 10px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.headerOfFeedBackAndReportDiv {
	padding: 10px;
	background-color: lightgray;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.textDivOfFeedbackAndReportDiv {
	padding: 10px;
}

.feedbackandreportbtndiv {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
	padding-right: 11px;
}

#reportBtn,
#feedbackBtn {
	width: 100%;
}


/* Optional: Style the modal and buttons */
.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	padding-left: 20%;
}

.modal-content {
	background-color: #fefefe;
	border: 1px solid #888;
	width: 80%;
	margin-top: 30%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.blogImge {
	border-radius: 10px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.blogDetailsHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#blogTitle {
	font-size: x-large;
	text-transform: uppercase;
	color: royalblue;
}